.dark:root{
--nav-link-clr:#8aa2bd;
--nav-link-hover-clr:#1b84ff;
--nav-link-icon-clr:#8aa2bd;
--nav-link-icon-hover-clr:#1b84ff;
--nav-link-hover-bg:#213041;
--nav-card-bg:#19191c;
--txt-clr:#d9e0e9;
--txt-active-clr:#1b84ff;
--txt-body-clr:#8aa2bd;
--line-clr:#213041;
--icon-clr:#8aa2bd;
--icon-hover-clr:#1b84ff;
--btn-primary-txt-clr:#ffffff;
--btn-primary-bg-clr:#1b84ff;
--btn-primary-txt-hover-clr:#1b84ff;
--btn-primary-bg-hover-clr:#213041;
--btn-light-txt-clr:#1b84ff;
--btn-light-bg-clr:#213041;
--btn-light-txt-hover-clr:#ffffff;
--btn-light-bg-hover-clr:#1b84ff;
--card-bg-clr:#19191c;
--body-bg-clr:#2d2d30;
--border-clr:#2d2d30;
--border-active-clr:#1b84ff;
--input-txt-clr:#d9e0e9;
--input-bg-clr:#2d2d30;
--shadow-clr:#687481;
--dropdown-bg-clr:#19191c;
--dropdown-txt-clr:#8aa2bd;
--dropdown-txt-hover-clr:#1b84ff;
--dropdown-txt-hover-bg-clr:#213041;
--rounded-dropdown-bg:#213041;
--rounded-dropdown-hover-bg:#213041;
}