.light:root{
--nav-link-clr:#4b5675;
--nav-link-hover-clr:#1b84ff;
--nav-link-icon-clr:#99a1b7;
--nav-link-icon-hover-clr:#1b84ff;
--nav-link-hover-bg:#ebf4ff;
--nav-card-bg:#ffffff;
--txt-clr:#0a1017;
--txt-active-clr:#1b84ff;
--txt-body-clr:#4b5675;
--line-clr:#ebf4ff;
--icon-clr:#99a1b7;
--icon-hover-clr:#1b84ff;
--btn-primary-txt-clr:#ffffff;
--btn-primary-bg-clr:#1b84ff;
--btn-primary-txt-hover-clr:#ffffff;
--btn-primary-bg-hover-clr:#005fcf;
--btn-light-txt-clr:#4b5675;
--btn-light-bg-clr:#f4f7fe;
--btn-light-txt-hover-clr:#ffffff;
--btn-light-bg-hover-clr:#1b84ff;
--card-bg-clr:#ffffff;
--body-bg-clr:#fafafa;
--border-clr:#c3c9da;
--border-active-clr:#1b84ff;
--input-txt-clr:#4b5675;
--input-bg-clr:#ffffff;
--shadow-clr:#4b5675;
--dropdown-bg-clr:#ffffff;
--dropdown-txt-clr:#4b5675;
--dropdown-txt-hover-clr:#1b84ff;
--dropdown-txt-hover-bg-clr:#ebf4ff;
--rounded-dropdown-bg:#ffffff;
--rounded-dropdown-hover-bg:#ebf4ff;
}